<?xml version='1.4'?>
<Events>
	<Event type='custom' id='GoogleCalendarEvent'>
		<Name>Google Calendar Trigger</Name>
		<ConfigUI>
			<Field id='calendarID' type='menu'>
				<Label>Calendar Device:</Label>
				<List class='indigo.devices' filter='self'/>
			</Field>
			<Field id='searchField' type='menu' defaultValue='summary'>
				<Label>Search Field:</Label>
				<List>
					<Option value='summary'>Summary</Option>
					<Option value='description'>Description</Option>
				</List>
			</Field>
			<Field id='searchWords' type='textfield'>
				<Label>Search Words:</Label>
			</Field>
			<Field id='searchHelp' type='label' fontSize='small' alignWithControl='true'>
				<Label>Searches are case insensitive. Leave blank to trigger on every event.</Label>
			</Field>
			<Field id='timeField' type='menu' defaultValue='start'>
				<Label>Time Field:</Label>
				<List>
					<Option value='start'>Start</Option>
					<Option value='end'>End</Option>
				</List>
			</Field>
			<Field id='timeCount' type='textfield' defaultValue='0'>
				<Label>Minutes Before:</Label>
			</Field>
			<Field id='timeHelp' type='label' fontSize='small' alignWithControl='true'>
                <Label>Use a negative value to trigger after the start/end time.</Label>
            </Field>
		</ConfigUI>
	</Event>
</Events>
